@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom-pink {
    background-color: #eeb1b9;
}

.text-color {
    color: #3d3b56;
}

@font-face {
    font-family: 'Badger';
    src: url('/fonts/Badger.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'Niconne', cursive;
  }

  .font-Badger {
    font-family: 'Badger', sans-serif;
  }